name: deploy-webapp
variables:
  - template: ../../env/global.yml
  - template: ../../env/dev.yml
trigger:
  - main
resources:
  pipelines:
  - pipeline:
    source: build-webapp
stages:
  - stage: Dev
    jobs:
    - deployment: Dev_Deploy
      pool:
        vmImage: 'windows-latest'
      environment: ${{ variables.devEnvironmentName }}
      strategy:
        runOnce:
          deploy:
            steps:
            - template: deploy.yml
              parameters:
                artifactName: ${{ variables.artifactName }}
                serviceConnectionName: ${{ variables.serviceConnectionName }}
                appServiceName: ${{ variables.appServiceName }}